body {
    background-color: #eee;
       margin: 0;
       padding: 0;
   }
   .first1{
           background-image: url('main-bg.jpg');
           background-size: cover;
           background-position: center;
           background-repeat: no-repeat;
           height: 73vh;
           padding: 100px; 
           text-align: center; 
           color: white; 
       
   }
   .navbar {
           position:absolute; 
           top: 0; 
           left: 0;
           width: 90%;
           display: flex;
           justify-content: space-between;
           align-items: center;
           padding: 10px 20px; 
           z-index: 1000; 
   }
   
   .logo-container {
       margin-top: 20px;
   
       display: flex;
       align-items: center;
   }
   
   .logo {
       width: 30px; 
       height: auto; 
       margin-right: 10px; 
   }
   
   .call {
       margin-right: 20px; 
       text-decoration: none;
       color: rgb(242, 233, 233); 
   }
   
   .btn {
       border: none;
       background-color:rgb(35, 133, 172);
       color: white;
   }
   nav{
    position:fixed;
    margin-top:0;
    left: 0;
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   z-index: 1000;
   margin-right: 30px;
  }
  nav .logo1{
    width: 80px;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
  }
  nav ul li a{
    float: left;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background:linear-gradient(to right bottom, rgb(81, 79, 79), rgb(211, 211, 175), rgb(96, 123, 112));
    min-width: 200px; 
    z-index: 1;
    text-align: center;
    list-style: none; 
    padding: 15px; 
    border-radius: 15px;
  }
  
  .dropdown-content li {
    display: block;
    padding: 20px 20px;
    white-space: nowrap;
    border: black;
  }
  
  .dropdown-content .dropdown-submenu {
    padding: 45px;
    display: block;
    padding: 20px 0; 
    white-space: nowrap; /* Prevent line breaks */
  }
  
  /* Show dropdown content when hovering over dropdown or dropdown content */
  .dropdown:hover .dropdown-content,
  .dropdown-content:hover {
    display: block;
    border: 5px solid blueviolet;
  }
  
  
  .dropdown-content li a {
    color: black; 
  }
  .dropdown-content li a:hover{
    color: #007bff;
    font-size: 22px;
  }
   .Btn {
       background-color: skyblue; 
       border: none;
       color: white; 
       padding: 10px 20px; 
       text-align: center;
       text-decoration: none; 
       display: inline-block; 
       margin: 10px; 
       cursor: pointer; 
       border-radius: 15px;
   }
   
   .Btn:hover {
       background-color: rgb(43, 88, 105);
   }
   
   .content {
       display: flex;
   }
   .column2 {
       flex: 1;
   }
   .p2 {
       font-size: 20px;
       border: none;
       padding: 10px;
     
   }
   .p2 img{
     width: 75%;
     height: 7%;
   }
   .p1{
     margin-top: 8%;
     margin-right: 3%;
     font-size: 26px;
     border: none;
     padding: 10px;
   }
   .experience{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .text-box h1{
    font-size: 34px;
    font-weight: 500;
    color:black;
  }
  .text-box{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px;
    font-weight: 400;
    color: red;
  }
   .sliderP {
     margin-top: 8%;
     width: 100%;
     height: 10%;
     overflow: hidden;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   }
   .partner p{
     margin-top: 6%;
     font-size: 40px;
     margin-left: 24%;
     margin-right: 24%;
     font-weight: 800;
   }
   .slide-trackP {
     display: flex;
     width: calc(150px * 28);
     animation: scroll 20s linear infinite;
   }
   
   .slideP {
     width: 150px;
     flex-shrink: 0;
   }
   
   .slideP img {
     width: 50%;
     height: 50%;
     height: auto;
   }
   
   @keyframes scroll {
     0% {
         transform: translateX(0);
     }
     100% {
         transform: translateX(calc(-150px * 14)); /* Adjust based on the number of original images */
     }
   }
   .third{
    align-items: center;
    justify-content: center;
    background-image: url('content-box-bg.jpg');
    background-size: cover;
   }
   .third .third1{
     color: white;
    margin-right: 20%;
    margin-left: 20%;
   }
   .third1 h1{
    font-size: 48px;
    font-weight: 600;
   }
   .third1 p{
    font-size: 25px;
   }
   .work{
    margin-top: 3%;
    display: block;
    justify-content: center;
    align-items: center;
   }
.work1 h1{
    font-size: 44px;
    margin-left: 30%;
    color: white;
    margin-right: 20%;
}
.work1 h3{
    margin-left: 30%;
    color: white;
    margin-right: 30%;
}
.gallery{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 80rem;
}
.cardG{
    position: relative;
    left: 10px;
    width: 3rem;
    border-radius: 5rem;
    height: 25rem;
    overflow: hidden;
    transition: .4s ease-in-out;
    box-shadow: 0 5 12px rgba(0,0,0,.3);
    flex:.15;
}
.cardG img{
    position: relative;
    height: 25rem;
    object-fit: cover;
}
.text-block {
    position: absolute;
    top: 35%;
    bottom: 5px;
    left: 10px;
    right: 53px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.text-block h2 {
    margin: 0;
    font-size: 1.2em;
}
.cardG:hover{
    flex:1 1 0;
    cursor: pointer;
    border-radius: 1rem;
}
.cardG1{
    position: relative;
    left: 10px;
    width: 3rem;
    border-radius: 5rem;
    height: 25rem;
    overflow: hidden;
    transition: .4s ease-in-out;
    box-shadow: 0 5 12px rgba(0,0,0,.3);
    flex:.15;
}
.cardG1 img{
    position: relative;
    height: 25rem;
    object-fit: cover;
}
.cardG1:hover{
    flex:22 20 0;
    cursor: pointer;
    border-radius: 1rem;
}
 .cardG .text-block p{
    font-size: 18px;
    margin-left: 5%;
    margin-right: 10%;
}
.unique {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 2%;
}

.unique1 h1 { 
    color: rgb(223, 166, 10);
    font-size: 39px;
    font-weight: 600;
    margin-right:30%;
    margin-left: 30%;
}
.unique1 p{
    color: white;
    font-size: 24px;
    font-weight: 300;
    margin-right: 20%;
    margin-left: 20%;
    display: block;
}

.slider-containerU {
    flex: 1;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    margin-left: 10px; /* Adjust margin to move slider more to the left */
}

.card-sliderU {
    display: flex;
    transition: transform 0.5s ease;
}
.imgC div h3{
    font-size: 27px;
}
.cardU {
    flex: 0 0 auto;
    background-color:#191370;
    padding: 20px;
    width: 480px; 
    margin-right: 3%;
    margin-left: 3%;
    color: white;
}
.cardU h2{
    font-size: 33px;
    font-weight: 500;
    margin-left: 3%;
    margin-right: 3%;
}
.cardU p{
    font-size: 18px;
    font-weight: 300;
    margin-right: 3%;
    margin-left: 3%;
}
.cardU img {
    align-items: center;
    margin-right: 30%;
    margin-left: 35%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

  .prev, .next {
    cursor: pointer;
    position: absolute;
    margin-top: 20%;
    transform: translateY(-50%);
    background-color: rgba(243, 237, 237, 0.5);
    color: #131313;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
}

 .prev {
     top: 2px;
    left: 10px;
}

 .next {
    top: 2px;
    right: 10px;
}
.column{
    float:left;
    width: 33.33%;
    margin-left: 5%;
    margin-right: 5%;
}
.row::after{
    content: "";
    display: table;
    clear:both;
    padding: 15px;
}
.techL{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tech h1{
    color:rgb(228, 163, 0);
    font-size: 39px;
    font-weight: 500;
    margin-right: 50%;
    margin-left: 4%;
}
.tech p{
    font-size: 20px;
    color: white;
    margin-right: 40%;
    margin-left: 4%;
}
.tech1{
    margin-left: 5%;
    margin-right: 5%;
    padding: 7px;
    color: white;
}
.tech1 ul li{
    margin-top: 4%;
    font-size: 20px;
}
.techR{
    margin-bottom: 3%;
}
.content1 {
    display: flex;
}

.column1 {
    flex: 1;
}
h1{
    margin-left: 10%;
    margin-right: 20%;
    font-weight: 600;
    font-size: 33px;
}

.p3,
.p4 {
    font-size: 24px;
    border: none;
    padding: 10px;
    margin: 5px;
}
.p4{
    margin-right: 70px;
    margin-left: 70px;
}
.B4{
    align-items: center;
    color: rgb(18, 1, 1);
    background-color:skyblue;
    border: 6px solid black;
    font-weight: 800;
}
.four {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly */
  }
  
  .four div {
    width: calc(25% - 10px); /* Set width for each image container, considering margin */
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  .four img {
    width: 80%;
    height: 90%;
   margin-left: 10%;
   margin-right: 10%;
   border-radius: 15px;
  }
  .four img::after{
    position:absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #ebf1f2;
  border-radius: 15px;
  transition: 0.3s;
  z-index: -1;
  }
  .five{
    background-image: url(main-bg-3.jpg);
    background-size: cover;
  }
  .eight{
    margin-top: 7%;
    margin-left: 9%;
}
.eight1 h1{
    color: rgb(255, 179, 0);
    margin-top: 4%;
    margin-left: 20%;
    font-size: 39px;
    margin-right: 20%;
    font-weight: 600;
  }
  .eight1 p{
    color:white;
    margin-left:18%;
    margin-right: 25%;
    font-size: 22px;
  }

  .container8 {
    margin-left: 10%;
    margin-right: 5%;
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
}

.image8 {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust overlay color and opacity */
    color: white; /* Text color for overlay */
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: height 0.5s ease;
}

.container8:hover .overlay {
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.content10 {
    display: flex;
}

.column10 {
    flex: 1;
}
h1{
    margin-left: 90px;
    margin-right: 60px;
}
.p9,
.p10 {
    border: none;
    padding: 10px;
    margin: 5px;
}
.p10{
    font-weight: 400;
    font-size: 25px;
    margin-right: 100px;
    margin-left: 100px;
}
.B10{
    align-items: center;
    color: rgb(18, 1, 1);
    background-color:skyblue;
    border: 2px solid black;
    font-weight: 800;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text11 {
    color: #000000;
    display: block;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 200px;
    margin-left: 50px;
    margin-top: 50px;
    width: 100%;
    text-align: left;
  }
  .text11 h2{
    font-weight: 600;
    font-size: 32px;
    display: block;
  }
  .text11 p{
    display: block;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .numbertext img{
    border-radius: 39px;
  }
  .logo11 {
    position: absolute;
    bottom: 20px; 
    left: 20px; 
    background-color:rgb(44, 42, 42);
    color: white;
    padding: 10px;
    border-radius: 25px;
    align-items: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
   /* carousel */
   .uniqueslider{
    background-image: url('development-expertise-bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head h1{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 35px;
    color: white;
  }
  

.industryinfo {
    margin-left: 6%; 
    max-width: 1200px; 
    width: 100%; 
    position: relative; 
} 

.industryinfo i { 
    height: 50px; 
    width: 50px; 
    background: rgb(150, 211, 150); 
    text-align: center; 
    align-items: flex-start;
    line-height: 50px; 
    border-radius: 50%; 
    cursor: pointer; 
    position: absolute; 
    top: 70%; 
    font-size: 1.25rem; 
    transform: translateY(-50%); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
} 

.infoD {
    margin-right: 15%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.infoD h1 {
    font-weight: 600;
    font-size: 40px;
    color: rgb(249, 188, 5);
}
.infoD p{
    font-size: 22px;
    color: white;
}
.industryinfo i:first-child { 
    left: -20px; 
} 

.industryinfo i:last-child { 
    right: -22px; 
} 

.industryinfo .industryinfo1 { 
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: calc((100% / 3) - 12px); 
    gap: 16px; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    scrollbar-width: 0; 
} 

.industryinfo1::-webkit-scrollbar { 
    display: none; 
} 

.industryinfo1 :where(.cardD, .img) { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 

.industryinfo1.dragging { 
    scroll-snap-type: none; 
    scroll-behavior: auto; 
} 

.industryinfo1.no-transition { 
    scroll-behavior: auto; 
} 

.industryinfo1.dragging .cardD { 
    cursor: grab; 
    user-select: none; 
} 

.industryinfo1 .cardD { 
    scroll-snap-align: start; 
    height: 320px; 
    list-style: none; 
    background-color: #221c77; 
    border-radius: 8px; 
    display: flex; 
    cursor: pointer; 
    width: 101%; 
    padding-bottom: 15px; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    overflow: visible;
    margin-bottom: 15%;
    color: white;
} 

.cardD .img { 
    width: 245px; 
    height: 245px; 
} 
.cardD .img img { 
    margin-top: 17%;
    width: 280px; 
    height: 240px; 
    object-fit: cover; 
    border-radius: 15px; 
} 
.cardD p{
    margin-left: 5%;
    margin-right: 5%;
}
.cardD  h2 { 
    margin-top: 41%;
    font-weight: 600; 
    font-size: 33px; 
    margin-left: 2%; 
} 
@media screen and (max-width: 900px) { 
    .industryinfo .industryinfo1 { 
        grid-auto-columns: calc((100% / 2) - 9px); 
    } 
} 

@media screen and (max-width: 600px) { 
    .industryinfo .industryinfo1 { 
        grid-auto-columns: 100%; 
    } 
}
.six{
    background-image: url('blockchain-development-technologies2.jpg');
    background-size: cover;
    overflow: visible;
}
.seven{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.client{
    margin-top: 5%;
    margin-bottom: 1%;
  }
  .client1 h1{
    font-size: 35px;
    display: block;
    margin-left: 40%;
    margin-right: 20%;
    color: black;
    font-weight: 700;
  }
  .client1 p{
    display: block;
    margin-left: 40%;
    margin-right: 20%;
    color: #000;
    margin-bottom: 2%;
  }
  .client2 {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.slide-containerC {
    width: 60%;
    overflow: hidden;
    position: relative;
}

.sliderC {
    cursor: grab;
    width: 40%;
    display: flex;
    transition: transform 0.5s ease;
}

.C1 {
    flex: 0 0 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(165, 174, 177);
    margin-bottom: 20px;
    border: 3px solid black;
}
.C1 h3{
    color: black;
}
.imgC {
    display: flex;
    align-items: center;
}

.imgC img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
}
.imgC1 img {
    width: 14px;
    height: 14px;
    padding: 1px;
    object-fit: cover;
    margin-right: 20px;
}
.imgC span {
    margin-right: 10px;
}

.infoC, .con {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.con img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.sliderC p {
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.infoC {
    justify-content: flex-start;
    align-items: flex-start;
}
.infoC h5, .infoC p {
    margin: 5px 0; /* Adjusted margin between h5 and p */
}
.con {
    justify-content: flex-end;
    align-items: flex-start;
}
.con img, .con p{
    margin: 5px 0;
}
  table{
    border: none;
    display: flex;
    align-items: center;
    width: 70%;
    margin-right: 7%;
    margin-left: 14%;
    color: white;
  }
  td,th{
    text-align: center;
    padding: 18px;
    font-size: 18px;
    border-bottom: 2px solid gray;
  }
  
  form {
    background-color: rgb(201, 201, 161);
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #bb9b9b;
    border-radius: 5px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-container img {
    width: 20px;
    margin-right: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="range"] {
    width: calc(100% - 40px);
}

input[type="range"],
output {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

textarea {
    height: 100px;
    resize: vertical;
}
.contact1{
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}
  .contact1 h1{
    color: black;
    display: block;
  }
  .contact1 p{
    display: block;
    color: black;
  }
  .contact1 h5{
    color: red;
  }
  .container22 {
    position: relative;
    background-image: url('mobile-cta-bg.jpg');
    background-size: cover;
    background-position: center; 
    padding: 20px;
    margin-left: 8%;
    margin-top: 3%;
    height: 50%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
  }
  
  .text22 {
    align-items: left;
    position: relative;
    background-color:transparent;
    padding: 20px;
    border-radius: 10px;
    text-align:center; 
  }
footer{
    margin-top: 3%;
   position: relative;
   width: 97.3%;
   bottom: 0;
   left: 0;
   z-index: -1;
  }
  .footer1 {
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid silver;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
  }
  .footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex: 1;
  }
  .footer2:last-child {
    border-right: none;
  }
  .img1 {
    width: 100px;
    height: 100px;
  }
   footer p {
    color: white;
    text-align: center;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjusts the space between icons */
  }
  .social-icons img {
    width: 24px; /* Adjust the size as needed */
    height: auto;
    display: inline-block;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid silver;
    margin-bottom: 20px;
  }
  .list ul {
    flex-basis: calc(20% - 20px);
    margin: 10px;
    list-style-type: none;
  }
  .list h3 {
    margin-bottom: 10px;
  }
  .f3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid silver;
    border-collapse: collapse;
  }
  .imgF {
    text-align: center;
    padding: 20px;
    border-right: 2px solid silver;
    border-bottom: 2px solid silver;
  }
  .imgF:nth-last-child(-n+4) {
    border-bottom: none;
  }
  .imgF:nth-child(4n) {
    border-right: none;
  }
  .imgF img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  .f4 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 2px solid silver;
    border: 1px solid silver;
    margin-top: 20px;
  }
  .f4 div {
    flex: 1;
    margin: 0 10px;
    text-align: center;
    padding: 20px;
    border-right: 2px silver;
    overflow: hidden;
  }
  .f4 label {
    display:flex;
    width: 60%; 
    margin: 10px auto;
  }
  .f4 input[type="text"] {
    width: 100%;
    height: 30px; 
    padding: 5px; 
  }
  .f4 button {
    border: none;
    font-size: 16px; /* Adjust font size as needed */
    background-color: red;
    width: 100px;
    height: 40px; /* Adjust height as needed */
    border-radius: 5px; /* Adjust border radius as needed */
    cursor: pointer;
    margin-top: 10px; /* Adds space above the button */
  }
  .last {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  